<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippets API</title>
</head>
<body>
    <h1>Welcome to Snippets API</h1>
    <h3>Please check out the examples and read the instructions to better understand how to access the right informations.</h3>
    <p>
        <ol>
            <li>To register, please send a post request to the snippets/register endpoint with a body containing a json formatted email and password.</li>
            <li>To login, please send a post request to the snippets/login endpoint with a body containing your json formatted email and password.</li>
            <li>To get all your snippets, please send a get request to the snippets endpoint</li>
            <li>To get a specific snippet, please send a get request to the snippets/id endpoint</li>
            <li>To add a snippet, please send a post request to the snippets/add</li>
        </ol>
    </p>
</body>
</html>